/* body {
  box-sizing:border-box
} */

/* Sharelex page */
* {
  box-sizing: border-box;
}

.container {
  margin-right: 50px;
  margin-left: 50px;
  width: 70%;  
}

.container-txt {
  margin: 50px 0px 0px 50px;
  width: 70%;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 96px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item-left {
  /* background-color: #f1f1f1;
  padding: 10px; */
  flex: 50%;
}

.flex-item-right {
  /* background-color: dodgerblue;
  padding: 10px; */
  /* flex: 50%; */
}


.container-soutien {
  /* padding-top: 40px; */
  display: flex;
  flex-direction: row;
  margin: 1rem;
  
  > * {
    margin: 0 0.5rem;
    
    &:nth-child(1) {
      width: calc(100% / 3 * 2);
    }
    
    &:nth-child(2) {
      width: calc(100% / 3 * 1);
    }
  }
}

.container-soutien h2 {
  /* margin-top: 80px; */
}
.container-soutien p {
  margin-left: 5%;
  margin-right: 10%;
}

.bckgd-icon {
  width: 120%;
  background-color: grey;
  color: #39475B;
  border-radius: 50%;
}

.login {
  text-decoration: underline;
  color: #39475B;
  font-family: 'Roboto', sans-serif;
  padding-top: 15px;
  text-align: right;
  /* font-size: 36px; */
}


.icon-shrlx {
  text-align : center;
  /* margin: auto; */
  /* vertical-align: top; */
  /* display: block; */
  padding-top: 8px;
  margin-left: 8px;
  width: 50px;
  height: 50px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 36px 0;
}

.banner h1 {
  margin: 0;
  color: #39475B;
  /* text-shadow: 1px 1px 3px rgba(0,0,0,0.2); */
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 18px;
  line-height: 26px;
  color: black;
  opacity: .7;
  /* text-shadow: 1px 1px 3px rgba(0,0,0,0.2); */
  text-align: justify;
}

.btn-flat {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 8px 24px;
  border-radius: 14px;
  background: #39475B;
  transition: background 0.3s ease;
  justify-content: center;
  display:table;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.btn-flat:hover {
  background: #556172;
  color: white;
}


.btn-gradient {
  color: rgba(255, 255, 255, 0.514);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.bckg-white {
  background-color: rgba(255,255,255,0.5);
  padding: 30px;                             
}



p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  /* font-weight: 400; */
  line-height: 32px;
  text-align: justify;
  margin: 20px
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    padding-bottom: 20px;
}


h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 48px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #39475B;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:white;
}

.btn-wht {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color:white;
}

.link-partner {
  color: #AC5E64;
  display:block;
  width:120px;
  margin:0 auto;
}
.footer-sharelex {
  background: #D1D1D1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100px;
  padding-bottom: 150px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #D1D1D1; 
}
.footer-links a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  height: 80px;
}
.footer-links a:hover {
  opacity: 0.15;
}

.link-footer a {
  color: #AC5E64;
  /* display:flex; */
  width:260px;
  text-align: center;
  padding: 20px;
}

footer {
  background-color: #D1D1D1;
}
.partner {
  padding: 10px;
  background: #D1D1D1;
}

.partner p {
  text-align: center; 
  font-size: 1.1em;
}


.hand {
  position: absolute;
  max-width: 603px;
  max-height: 533px;
  right: -20vw;
  top: 684px;
}

.item_description {
  width:100%;
}
.image {
  height:0;
  padding-bottom:40%;
  margin: 5%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  position:relative;
  width:30%;
}
.desc, .image {
  float:left;
  display:block
}
.desc {
  width:60%;
  text-align:center;
  /* padding:20px; */
}


  /* Mobile view */
  @media screen and (max-width: 1300px) {   
        .hand {
          display: none;
        }
  }

  @media screen and (max-width: 768px) {
    .container-soutien {
      flex-direction: column;
    }
    .container-soutien p {
      margin-left: 0px;
      margin-right: 0px;
    }
    .container-soutien img {
      width:auto;
      height: 100%;
    }
    .container {
      /* width: 110% !important; */
      text-align: center;
      justify-content: center;   
    }

    .container-txt{
      margin: 0px !important;
      width: 100%;
    }
    .container-txt-2 {
      width: 110%;
    }
    .flexbox {
      justify-content: center;
      flex-direction: column;
      /* margin-top: 25px;
      margin-bottom: 70px; */
    }
    p {
      margin-left: 18px;
    }
    .desc, .image {
      float:none;
      height: 100%;
      width:100%;
    }
    .log {
      padding: 25px;
      display: inline-block;
    }
    .image {
      margin: 0%;
    }
    .flex-container {
      flex-direction: column;
      /* justify-content: center; */
    }
    .icon-shrlx {
      margin: auto;
      margin-left: auto;
    }
}


/* slider */


a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #1089ff; }
  a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }


.heading-section {
  font-size: 28px; }

.img-slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.owl-carousel {
  position: relative; }
  .owl-carousel .owl-item {
    opacity: 1; }
    .owl-carousel .owl-item.active {
      opacity: 1; }
  .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%; }
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -60px;
      color: rgba(0, 0, 0, 0.1) !important;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
      opacity: 0; }
      @media (prefers-reduced-motion: reduce) {
        .owl-carousel .owl-nav .owl-prev,
        .owl-carousel .owl-nav .owl-next {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
      .owl-carousel .owl-nav .owl-prev span:before,
      .owl-carousel .owl-nav .owl-next span:before {
        font-size: 30px; }
    .owl-carousel .owl-nav .owl-prev {
      left: 0; }
    .owl-carousel .owl-nav .owl-next {
      right: 0; }
  .owl-carousel .owl-dots {
    text-align: center;
    margin-top: 20px; }
    .owl-carousel .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.1);
      position: relative; }
      .owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
        outline: none !important; }
      .owl-carousel .owl-dots .owl-dot.active {
        background: #1089ff; }
  .owl-carousel:hover .owl-nav .owl-prev,
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1; }
  .owl-carousel:hover .owl-nav .owl-prev {
    left: -25px; }
  .owl-carousel:hover .owl-nav .owl-next {
    right: -25px; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.work {
  width: 50%; }

.work .img-slider {
  width: 150px;
  height: 150px;
  position: relative;
  -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26); }

.work .img-slider .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  display: block;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

@media (prefers-reduced-motion: reduce) {
    .work .img-slider .icon {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

.work .text h3 {
  font-size: 18px;
  font-weight: 500; }

.work .text h3 a {
    color: #000; }

.work .text span {
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 500; }

.work:hover .img-slider .icon {
  opacity: 1; }

.ftco-section {
  padding-left: 100px;
  /* padding: 0.5em 4em 0.5em 0em  */
}

.container-slider {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container-slider {
    max-width: 540px; }
}

@media (min-width: 768px) {
  .container-slider {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container-slider {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container-slider {
    max-width: 1140px; } }


.navbar > .container-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }


@media (max-width: 575.98px) {
  .navbar-expand-sm > .container-slider {
    padding-right: 0;
    padding-left: 0; } 
  .img-slider {
    /* width: 70% !important; */
    margin-left: auto;
    margin-right: auto;
  }
  .work {
    width: 100%;
  }
  .ftco-section {
    padding-left: 30px;
    /* padding: 0.5em 4em 0.5em 0em  */
  }
  }

@media (min-width: 576px) {
  .navbar-expand-sm > .container-slider {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    }

@media (max-width: 767.98px) {
  .navbar-expand-md > .container-slider{
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 768px) {
    .navbar-expand-md > .container-slider{
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    }

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container-slider{
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 992px) {
  .navbar-expand-lg > .container-slider{
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }}

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container-slider {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1200px) {
    .navbar-expand-xl > .container-slider {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 768px) {
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
    
.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.text-center {
  text-align: center !important; }

.mb-5 {
  margin-bottom: 3rem !important; }

.pb-md-4 {
    padding-bottom: 1.5rem !important; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.rounded {
  border-radius: 0.25rem !important; }

.pt-3 {
  padding-top: 1rem !important; }

.w-100 {
  width: 100% !important; }
